h1, h2, p {
    max-width: 1000px;
    margin: auto;           
    /*centers the text */
}
h1, header {
    color: rgb(33, 209, 159);
    font-family: 'Istok Web', sans-serif;
    font-size: 9vh;
    border-bottom: black 5px;
    background: rgb(114, 147, 160);
}
header {
    padding: 50px;
}
h2 {
  font-family: 'Istok Web', sans-serif;
  font-size: 6vh;
}
h2, p {
    
  color: rgb(52, 64, 69);
  margin-top: 30px;
}
h2, p, figure {
  margin-bottom: 30px;
}
p {
  font-family: 'Average', serif;
  font-size: 2.5vh;
}
.collapsible {
    background-color: rgb(33, 209, 159);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 400px;
    border: none;
    outline: none;
}
.content {              /* this it the style for the Read more button text that appears */
    display: none;
  }
iframe {
    width: 600px;
    height: 600px;
    border: 20px solid black;
  }
footer {
    padding-top: 20px;
    background: rgb(114, 147, 160);
  }

  body, main, p, h2, h3, img, section, figure, figcaption, footer {
    background-color: rgb(216, 221, 239);
  }

* {box-sizing: border-box;}

   /* Style the tab */
.tab {
  padding-top: 20vh;
  margin-left: 6vh;
  float: left;
  width: 12%;
  /* height: 300px; */
}
  
  /* Style the buttons that are used to open the tab content */
.tab button {
  /* display: block; */
  background-color: inherit;
  padding: 14px 16px;
  width: 100%;
  border: none;
  /* outline: none; */
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  /* font-size: 3vh;
  font-family: 'Roboto mono', serif; */
}
  
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(162, 165, 179);
}
  
/* Active Tab colour */
.tab button.active {
  background-color: rgb(118, 132, 182);
}
.tab .icon button.active {
  background-color: black;
}
  
  /* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  /* border: 1px solid rgb(216, 221, 239); */
  width: 70%;
  border-left: none;
  height: 300px;
} 
.welcomeText {
  font-family: 'Istok Web', sans-serif;
  font-size: 10vh;
  text-align: left;
  padding-left: 5vh;
}
section {
  padding-top: 15vh;
}
img, .collapsible {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}