* {
    background: #F4F7F6;
    text-align: center;
}
h1, h2, p {
    max-width: 1000px;
    margin: auto;           /*centers the text */
}
h1 {
    color: #FFBA08;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}
h2, p {
    font-family: 'Roboto mono', serif;
    color: #333333;
    margin-top: 30px;
}
h2, p, img {
    margin-bottom: 30px;
}
.collapsible {
    background-color: #FFBA08;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 400px;
    border: none;
    outline: none;
}
.content {              /* this it the style for the Read more button text that appears */
    display: none;
  }
iframe {
    width: 600px;
    height: 600px;
    border: 20px solid black;
  }
footer {
    padding-top: 20px;
  }